# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool: Default

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- powershell: |
    node dist/index.js --action="discoverTests" --path=$Env:BUILD_SOURCESDIRECTORY --octaneUrl="http://localhost:8080/dev/ui/?admin" --sharedSpace="1001" --workspace="4001" --clientId=${env:CLIENTID} --clientSecret=${env:CLIENTSECRET} --logLevel=0
    Write-Host "Conversion result:"

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'
