# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - main

# parameters:
#   - name: unitTestResultsGlobPattern
#     type: string
#     default: "build/Results.xml"

pool: Default

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: "22.x"
    displayName: "Use Node.js"

  # - task: octane-start-task-private@1
  #   inputs:
  #     OctaneServiceConnection: "octaneConnectionForDiscovery"
  #     WorkspaceList: "1002"
  #     CreatePipelineCheckbox: true

  - task: octane-get-params-task@1
    inputs:
      OctaneServiceConnection: "octaneConnectionForDiscovery"

  - task: octane-test-runner-start-task-private@1
    inputs:
      OctaneServiceConnection: "octaneConnectionForDiscovery"
      WorkspaceList: "1002"
      Framework: "uft"
      GitRepositoryURL: "https://github.com/vivienknecht/uft-tests"

  - script: echo ${env:TESTSTORUN}

  - checkout: self
    fetchDepth: 0

  - powershell: |
      node dist/cli/index.js --action="convertTests" --framework="uft" --testsToRun=${env:TESTSTORUN} --logLevel=1
      #  $result = $result.Trim()
       Write-Host "Converted value: $result"
       Write-Host "##vso[task.setvariable variable=testsToRunConverted]$result"
    displayName: TestConversion

  - powershell: |
      Write-Host "Using converted value: $(testsToRunConverted)"

  - task: DownloadPipelineArtifact@2
    displayName: "Download last successful commit SHA"
    inputs:
      buildType: "specific"
      project: "$(System.TeamProjectId)"
      definition: "$(System.DefinitionId)"
      buildVersionToDownload: "latestFromBranch"
      branchName: "$(Build.SourceBranch)"
      artifactName: "last-successful"
      downloadPath: "$(Pipeline.Workspace)\\last-successful"
    continueOnError: true

  - powershell: |
      ./eng/detect-changed-files.ps1
    displayName: Detect changed files since last successful run

  - powershell: |
      node dist/cli/index.js --action="discoverTests" --isFullScan=true --path="$env:BUILD_SOURCESDIRECTORY" --octaneUrl="$(octaneUrl)" --sharedSpace="$(sharedSpaceId)" --workspace="$env:WORKSPACE" --clientSecret="$(octaneClientSecret)" --clientId="$(octaneClientId)" --logLevel=1
    env:
      MODIFIED_FILES_PATH: $(Pipeline.Workspace)/modified_files.bin
      REPOURL: $(Build.Repository.Uri)
    displayName: Discovery

  - powershell: |
      echo $(Build.SourceVersion) > last_successful_commit.txt
    displayName: "Store current commit SHA"

  - publish: last_successful_commit.txt
    artifact: last-successful
    displayName: "Publish last successful commit SHA"

  - powershell: |
      Write-Host "Current Directory:"
      Get-Location
      echo "Building..."
      mkdir build
      $ESCAPED_DIR = $Env:BUILD_SOURCESDIRECTORY.Replace('\', '\\')
      Set-Content -Path "./build/testsToRun.mtbx" -Value $env:testsToRunConverted -Encoding UTF8
      Set-Content -Path ./build/Props.txt -Value "runType=FileSystem"
      Add-Content -Path ./build/Props.txt -Value "resultsFilename=build\\Results.xml"
      Add-Content -Path ./build/Props.txt -Value "Test1=$ESCAPED_DIR\\build\\testsToRun.mtbx"
      Add-Content -Path ./build/Props.txt -Value "resultUnifiedTestClassname=true"
      Add-Content -Path ./build/Props.txt -Value "resultTestNameOnly=true"
      Get-Content -Path ./build/Props.txt

  - powershell: |
      echo "Testing..."
      echo $PWD
      Test-Path "./build/Props.txt" -PathType leaf
      Get-Content -Path ./build/Props.txt
      Start-Process "FTToolsLauncher_net48.exe" -ArgumentList "-paramfile `"$(Get-Location)\build\Props.txt`"" -Wait
      echo "Please check the [$PWD\build\Results.xml] file."

  # - powershell: |
  #     echo "Testing..."
  #     echo $PWD
  #     Test-Path "./Props.txt" -PathType leaf
  #     Get-Content -Path ./Props.txt
  #     Start-Process "FTToolsLauncher_net48.exe" -ArgumentList "-paramfile `"$(Get-Location)\Props.txt`"" -Wait
  #     echo "Please check the [$PWD\Results.xml] file."

  - task: octane-end-task-private@1
    inputs:
      OctaneServiceConnection: "octaneConnectionForDiscovery"
      WorkspaceList: "1002"
      Framework: "uft"
    env:
      UNIT_TEST_RESULTS_GLOB_PATTERN: $(UNITTESTRESULTSGLOBPATTERN)
