# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

variables:
  SYNCED_COMMIT_SHA: '' #only if the agent is hosted on Microsoft

parameters:
  - name: unitTestResultsGlobPattern
    type: string
    default: 'build/Results.xml'

pool: Default

steps: 
- task: NodeTool@0
  inputs:
    versionSpec: '22.x'  
  displayName: 'Use Node.js'

- powershell: |
    node dist/index.js --action="discoverTests" --path="$Env:BUILD_SOURCESDIRECTORY" --octaneUrl="http://localhost:8080/dev" --sharedSpace=1001 --workspace=5002 --clientSecret="$env:CLIENTSECRE" --clientId="$env:CLIENTID" --logLevel=1
  env:
    SYNCED_COMMIT_SHA: $(SYNCED_COMMIT_SHA) #only if the agent is hosted on Microsoft