# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

# variables:
#   MODIFIED_FILES: ''

pool: Default

steps: 
- task: NodeTool@0
  inputs:
    versionSpec: '22.x'  
  displayName: 'Use Node.js'

# - powershell: |
#     Write-Host "##vso[task.setvariable variable=SYNCED_COMMIT_SHA]$(Build.SourceVersion)"
#   displayName: "Set SYNCED_COMMIT_SHA to the last commit"  

# - task: Cache@2
#   inputs:
#     key: syncedCommit
#     restoreKeys: syncedCommit-
#     path: .sync
#   displayName: "Restore last synced commit"

- checkout: self
  fetchDepth: 2

- task: PowerShell@2
  name: ModifiedFiles
  inputs:
    targetType: inline
    script: |     
      $MODIFIED_FILES = git diff HEAD HEAD~ --name-only
      Write-Host "Modified files: $MODIFIED_FILES"
      ##vso[task.setvariable variable=MODIFIED_FILES]$MODIFIED_FILES


- powershell: |
    echo "The modified files are: $(ModifiedFiles.MODIFIED_FILES)"


- powershell: |
    node dist/index.js --action="discoverTests" --path="$Env:BUILD_SOURCESDIRECTORY" --octaneUrl="http://localhost:8080/dev" --sharedSpace=1001 --workspace=7001 --clientSecret="$env:CLIENTSECRE" --clientId="$env:CLIENTID" --logLevel=1
  env:
    MODIFIED_FILES: $(ModifiedFiles.MODIFIED_FILES)

# - powershell: |
#     mkdir .sync -Force | Out-Null
#     Set-Content -Path .sync/.synced_commit_sha -Value "$(Build.SourceVersion)" -NoNewline -Encoding utf8
#   displayName: "Save current commit SHA"

# # Cache updated directory so next run can restore it
# - task: Cache@2
#   inputs:
#     key: syncedCommit
#     path: .sync
#   displayName: "Cache updated synced commit"   