# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

stages:
- stage: BulildAndtest
  jobs:
    - job: Start
      pool: Default
      steps:
       - task: octane-start-task@25
         inputs:
           OctaneServiceConnection: 'octaneConnectionUft'
           WorkspaceList: '4002'
           CreatePipelineCheckbox: true

    - job: BuildAndTest
      pool: uft-one-agent-pool
      steps:
      - script: 
         echo "Building..."
         mkdir build
         $ESCAPED_DIR = $CI_PROJECT_DIR.Replace('\', '\\')
         echo $testsToRun
         $TESTS_TO_RUN_XML = $testsToRun -replace ('\\?FTToolsLauncher\\', '')
         Set-Content -Path ./build/testsToRun.mtbx -Value "$TESTS_TO_RUN_XML"
         Set-Content -Path ./build/Props.txt -Value "runType=FileSystem"
         Add-Content -Path ./build/Props.txt -Value "resultsFilename=build\\Results.xml"
         Add-Content -Path ./build/Props.txt -Value "Test1=$ESCAPED_DIR\\browsers" 
         Add-Content -Path ./build/Props.txt -Value "resultUnifiedTestClassname=true"
         Add-Content -Path ./build/Props.txt -Value "resultTestNameOnly=true"
         Get-Content -Path ./build/Props.txt
      
      - script: 
         echo "Testing..."
         echo $PWD
         Test-Path "./build/Props.txt" -PathType leaf
         Get-Content -Path ./build/Props.txt
         $p = Start-Process -FilePath "./FTToolsLauncher_net48.exe" -ArgumentList "-paramfile $PWD/build/Props.txt" -NoNewWindow -PassThru
         $p | Wait-Process
         echo "Please check the [$PWD\build\Results.xml] file."
         
    - job: End
      pool: Default
      steps: 
      - task: octane-end-task@25
        inputs:
          OctaneServiceConnection: 'octaneConnectionUft'
          WorkspaceList: '4002'
          
 