# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool: Default

steps: 
- task: NodeTool@0
  inputs:
    versionSpec: '22.x'  
  displayName: 'Use Node.js'

- task: octane-test-runner-start-task-private@1
  inputs:
    OctaneServiceConnection: 'octaneConnectionForDiscovery'
    WorkspaceList: '7002'
    Framework: 'uft'

- checkout: self
  fetchDepth: 2

- task: PowerShell@2
  name: GetFiles
  inputs:
    targetType: inline
    script: |     
      $files = git diff --name-status -M  HEAD~1 HEAD
      $filesJoined = ($files | Where-Object { $_ -ne '' }) -join ','
      Write-Host "Modified files: $filesJoined"
      Write-Host "##vso[task.setvariable variable=MODIFIED_FILES;isOutput=true]$filesJoined"

- powershell: |
    node dist/index.js --action="discoverTests" --path="$Env:BUILD_SOURCESDIRECTORY" --octaneUrl="http://localhost:8080/dev" --sharedSpace=1001 --workspace=7002 --clientSecret="$env:CLIENTSECRE" --clientId="$env:CLIENTID" --logLevel=1
  env:
    MODIFIED_FILES: $(GetFiles.MODIFIED_FILES)
