# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - main

parameters:
  - name: unitTestResultsGlobPattern
    type: string
    default: 'build/Results.xml'
    # default: "Results.xml"

pool: Default

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: "22.x"
    displayName: "Use Node.js"

  - task: octane-start-task-private@1
    inputs:
      OctaneServiceConnection: "privateOctaneConnection"
      WorkspaceList: "7001"
      CreatePipelineCheckbox: true

  - task: octane-test-runner-start-task-private@1
    inputs:
      OctaneServiceConnection: 'privateOctaneConnection'
      WorkspaceList: '7001'
      Framework: 'uft'
      GitRepositoryURL: 'https://github.com/vivienknecht/uft-tests'

  # - powershell: |
  #     node dist/index.js --action="convertTests" --framework="uft" --testsToRun=${env:TESTSTORUN} --logLevel=1
  #   displayName: TestConversion

  # - powershell: |
  #     Write-Host "===== DEBUG: Pipeline Variable testsToRunConverted ====="
  #     $testsToRunConverted = $env:testsToRunConverted
  #     Write-Host $testsToRunConverted

  - powershell: |
      Write-Host "Current Directory:"
      Get-Location
      echo "Building..."
      mkdir build
      $ESCAPED_DIR = $Env:BUILD_SOURCESDIRECTORY.Replace('\', '\\')
      $content = @"
      $testsToRunConverted
      "@
      Set-Content -Path "./build/testsToRun.mtbx" -Value $env:testsToRunConverted
      Set-Content -Path ./build/Props.txt -Value "runType=FileSystem"
      Add-Content -Path ./build/Props.txt -Value "resultsFilename=build\\Results.xml"
      Add-Content -Path ./build/Props.txt -Value "Test1=$ESCAPED_DIR\\build\\testsToRun.mtbx"
      #Add-Content -Path ./build/Props.txt -Value "Test1=$ESCAPED_DIR\\browsers\\TestWDataTableRenamed"
      Add-Content -Path ./build/Props.txt -Value "resultUnifiedTestClassname=true"
      Add-Content -Path ./build/Props.txt -Value "resultTestNameOnly=true"
      Get-Content -Path ./build/Props.txt
    displayName: Build

  - powershell: |
      echo "Testing..."
      echo $PWD
      Test-Path "./build/Props.txt" -PathType leaf
      Get-Content -Path ./build/Props.txt
      Start-Process "FTToolsLauncher_net48.exe" -ArgumentList "-paramfile `"$(Get-Location)\build\Props.txt`"" -Wait
      echo "Please check the [$PWD\build\Results.xml] file."
    displayName: Testing

  # - powershell: |
  #     echo "Testing..."
  #     echo $PWD
  #     Test-Path "./Props.txt" -PathType leaf
  #     Get-Content -Path ./Props.txt
  #     Start-Process "FTToolsLauncher_net48.exe" -ArgumentList "-paramfile `"$(Get-Location)\Props.txt`"" -Wait
  #     echo "Please check the [$PWD\Results.xml] file."
  #   displayName: Testing

  - task: octane-end-task-private@1
    inputs:
      OctaneServiceConnection: "privateOctaneConnection"
      WorkspaceList: "7001"
      Framework: "uft"
    env:
      UNIT_TEST_RESULTS_GLOB_PATTERN: ${{ parameters.unitTestResultsGlobPattern }}
