# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - main

# parameters:
#   - name: unitTestResultsGlobPattern
#     type: string
#     default: "build/Results.xml"

pool: Default

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: "22.x"
    displayName: "Use Node.js"

  # - task: octane-start-task-private@1
  #   inputs:
  #     OctaneServiceConnection: "octaneConnectionForDiscovery"
  #     WorkspaceList: "9001"
  #     CreatePipelineCheckbox: true

  # - task: octane-test-runner-start-task-private@1
  #   inputs:
  #     OctaneServiceConnection: "octaneConnectionForDiscovery"
  #     WorkspaceList: "9001"
  #     Framework: "uft"

  - checkout: self
    fetchDepth: 2

  - task: PowerShell@2
    name: GetFiles
    inputs:
      targetType: inline
      script: |
        $files = git diff --name-status -M  HEAD~1 HEAD
        $filesJoined = ($files | Where-Object { $_ -ne '' }) -join ','
        Write-Host "Modified files: $filesJoined"
        Write-Host "##vso[task.setvariable variable=MODIFIED_FILES;isOutput=true]$filesJoined"

  - powershell: |
      node dist/index.js --action="discoverTests" --path="$Env:BUILD_SOURCESDIRECTORY" --octaneUrl="http://localhost:8080/dev" --sharedSpace=1001 --workspace=9001 --clientSecret="$env:CLIENTSECRE" --clientId="$env:CLIENTID" --logLevel=1
    env:
      MODIFIED_FILES: $(GetFiles.MODIFIED_FILES)

  # - powershell: |
  #     Write-Host "Current Directory:"
  #     Get-Location
  #     echo "Building..."
  #     mkdir build
  #     $ESCAPED_DIR = $Env:BUILD_SOURCESDIRECTORY.Replace('\', '\\')
  #     Set-Content -Path ./build/testsToRun.mtbx -Value "$TESTS_TO_RUN_XML"
  #     Set-Content -Path ./build/Props.txt -Value "runType=FileSystem"
  #     Add-Content -Path ./build/Props.txt -Value "resultsFilename=build\\Results.xml"
  #     Add-Content -Path ./build/Props.txt -Value "Test1=$ESCAPED_DIR\\browsers" 
  #     Add-Content -Path ./build/Props.txt -Value "resultUnifiedTestClassname=true"
  #     Add-Content -Path ./build/Props.txt -Value "resultTestNameOnly=true"
  #     Get-Content -Path ./build/Props.txt

  # - powershell: |
  #     echo "Testing..."
  #     echo $PWD
  #     Test-Path "./build/Props.txt" -PathType leaf
  #     Get-Content -Path ./build/Props.txt
  #     Start-Process "FTToolsLauncher_net48.exe" -ArgumentList "-paramfile `"$(Get-Location)\build\Props.txt`"" -Wait
  #     echo "Please check the [$PWD\build\Results.xml] file."

  # - task: octane-end-task-private@1
  #   inputs:
  #     OctaneServiceConnection: "octaneConnectionForDiscovery"
  #     WorkspaceList: "9001"
  #   env:
  #     UNIT_TEST_RESULTS_GLOB_PATTERN: ${{ parameters.unitTestResultsGlobPattern }}
