# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - main

parameters:
  - name: unitTestResultsGlobPattern
    type: string
    default: "build/Results.xml"

pool: Default

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: "22.x"
    displayName: "Use Node.js"

  # - task: octane-start-task-private@1
  #   inputs:
  #     OctaneServiceConnection: "octaneConnectionForDiscovery"
  #     WorkspaceList: "9001"
  #     CreatePipelineCheckbox: true

  - task: octane-test-runner-start-task-private@1
    inputs:
      OctaneServiceConnection: 'octaneConnectionForDiscovery'
      WorkspaceList: '13002'
      Framework: 'uft'
      GitRepositoryURL: 'https://github.com/vivienknecht/uft-tests'
    continueOnError: true

  - checkout: self
    fetchDepth: 0

  - task: DownloadPipelineArtifact@2
    displayName: "Download last successful commit SHA"
    inputs:
      buildType: "specific"
      project: "$(System.TeamProjectId)"
      definition: "$(System.DefinitionId)"
      buildVersionToDownload: "latestFromBranch"
      branchName: "$(Build.SourceBranch)"
      artifactName: "last-successful"
      downloadPath: "$(Pipeline.Workspace)/last-successful"
    continueOnError: true

  - powershell: |
      $artifactPath = "$(Pipeline.Workspace)/last-successful/last_successful_commit.txt"

      if (Test-Path $artifactPath) {
        $last = Get-Content $artifactPath
        Write-Host "Found last successful commit: $last"
      }
      #Necessary for first run or when no artifacts can be found
      else {
        $last = "$(Build.SourceVersion)^"
        Write-Host "No previous successful run found. Using fallback commit: $last"
      }
      Write-Host "##vso[task.setvariable variable=LAST_SUCCESSFUL_COMMIT]$last"
    displayName: "Resolve last successful commit"

  - task: PowerShell@2
    name: GetFiles
    inputs:
      targetType: inline
      script: |
        git fetch --all
        Write-Host "Diff from $Env:LAST_SUCCESSFUL_COMMIT to HEAD"
        $files = git diff --name-status -M -z $Env:LAST_SUCCESSFUL_COMMIT HEAD | Out-String
        if (-not $files) { $files = "" }
        $encoded = [Convert]::ToBase64String([System.Text.Encoding]::UTF8.GetBytes($files))
        Write-Host "Modified files: $files"
        Write-Host "##vso[task.setvariable variable=MODIFIED_FILES]$encoded"
    displayName: "Get changed files since last successful run"

  - powershell: |
      node dist/index.js --action="discoverTests" --path="$Env:BUILD_SOURCESDIRECTORY" --octaneUrl="http://10.26.51.44:8080/dev" --sharedSpace="$env:SHAREDSPACE" --workspace="$env:WORKSPACE" --clientSecret="$env:CLIENTSECRE" --clientId="$env:CLIENTID" --logLevel=1
    env:
      MODIFIED_FILES: $(GetFiles.MODIFIED_FILES)
      CLIENTSECRET: $(CLIENTSECRE)
      CLIENTID: $(CLIENTID)
      REPOURL: $(Build.Repository.Uri)
    displayName: Discovery

  - powershell: |
      Write-Host "$Env:BUILD_SOURCESDIRECTORY"
      Write-Host "Repo URL: $env:BUILD_REPOSITORY_URI"
      Write-Host "Repo name: $env:BUILD_REPOSITORY_NAME"

  - powershell: |
      echo $(Build.SourceVersion) > last_successful_commit.txt
    displayName: "Store current commit SHA"

  - publish: last_successful_commit.txt
    artifact: last-successful
    displayName: "Publish last successful commit SHA"

  # - powershell: |
  #     Write-Host "Current Directory:"
  #     Get-Location
  #     echo "Building..."
  #     mkdir build
  #     $ESCAPED_DIR = $Env:BUILD_SOURCESDIRECTORY.Replace('\', '\\')
  #     Set-Content -Path ./build/testsToRun.mtbx -Value "$TESTS_TO_RUN_XML"
  #     Set-Content -Path ./build/Props.txt -Value "runType=FileSystem"
  #     Add-Content -Path ./build/Props.txt -Value "resultsFilename=build\\Results.xml"
  #     Add-Content -Path ./build/Props.txt -Value "Test1=$ESCAPED_DIR\\browsers\\GUITest5"
  #     Add-Content -Path ./build/Props.txt -Value "resultUnifiedTestClassname=true"
  #     Add-Content -Path ./build/Props.txt -Value "resultTestNameOnly=true"
  #     Get-Content -Path ./build/Props.txt

  # - powershell: |
  #     echo "Testing..."
  #     echo $PWD
  #     Test-Path "./build/Props.txt" -PathType leaf
  #     Get-Content -Path ./build/Props.txt
  #     Start-Process "FTToolsLauncher_net48.exe" -ArgumentList "-paramfile `"$(Get-Location)\build\Props.txt`"" -Wait
  #     echo "Please check the [$PWD\build\Results.xml] file."

  # - task: octane-end-task-private@1
  #   inputs:
  #     OctaneServiceConnection: "octaneConnectionForDiscovery"
  #     WorkspaceList: "9001"
  #     Framework: "uft"
  #   env:
  #     UNIT_TEST_RESULTS_GLOB_PATTERN: ${{ parameters.unitTestResultsGlobPattern }}
