# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool: Default

steps: 
- task: octane-start-task-private@1
  inputs:
    OctaneServiceConnection: 'privateOctaneConnection'
    WorkspaceList: '5001'
    GithubRepositoryConnection: 'githubConnection'
    CreatePipelineCheckbox: true

- task: octane-test-runner-start-task-private@1
  inputs:
    OctaneServiceConnection: 'privateOctaneConnection'
    WorkspaceList: '5001'
    Framework: 'uft'

- powershell: |
    $testsToRun = npx @opentext/sdp-sdm-tests-to-run-conversion --framework="uft" --testsToRun="$(testsToRun)" --logLevel=0
    Write-Host "Conversion result:"
    Write-Host $testsToRun

- powershell: | 
   Write-Host "Current Directory:"
   Get-Location
   echo "Building..."
   mkdir build
   $ESCAPED_DIR = $Env:BUILD_SOURCESDIRECTORY.Replace('\', '\\')
   echo "These are the tests:"
   echo @testsToRun
   echo "Testst"
   $TESTS_TO_RUN_XML = $testsToRun -replace ('\\?FTToolsLauncher\\', '')
   Set-Content -Path ./build/testsToRun.mtbx -Value "$TESTS_TO_RUN_XML"
   Set-Content -Path ./build/Props.txt -Value "runType=FileSystem"
   Add-Content -Path ./build/Props.txt -Value "resultsFilename=build\\Results.xml"
   Add-Content -Path ./build/Props.txt -Value "Test1=$ESCAPED_DIR\\browsers" 
   Add-Content -Path ./build/Props.txt -Value "resultUnifiedTestClassname=true"
   Add-Content -Path ./build/Props.txt -Value "resultTestNameOnly=true"
   Get-Content -Path ./build/Props.txt

- powershell: | 
    echo "Testing..."
    echo $PWD
    Test-Path "./build/Props.txt" -PathType leaf
    Get-Content -Path ./build/Props.txt
    Start-Process "FTToolsLauncher_net48.exe" -ArgumentList "-paramfile `"$(Get-Location)\build\Props.txt`"" -Wait
    echo "Please check the [$PWD\build\Results.xml] file."

- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: '**/Results.xml'
    failTaskOnFailedTests: false

- task: octane-end-task-private@1
  inputs:
    OctaneServiceConnection: 'privateOctaneConnection'
    WorkspaceList: '5001'
    GithubRepositoryConnection: 'githubConnection'
         



     
          
 